
.body{
	background-color: #FFFF99;
}
.lightblue{
	margin-top: 10px;
	background-color: #CCFFFF;
	border-radius: 10px;
}
.frame{
	color:red;
}
.spanwidth{
	width:50%;
	vertical-align: center;
}
#title{
	text-align: center;
	margin-bottom: 20px;

}

form{
	text-align: center;
}
.uneditable-input {
  
  height: 40px;
  
}
.text-input1 {
	width: 40%;
	
	font-size: 25pt;
	text-align: center;
	 display: inline-block;
  height: 40px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
}
.search-query { 
	height: 500px;
}

.text-input2{
	width:50px;
	border-radius: 10px;
	text-align: center;
	border: 1px solid black;
	outline: none;
}
label{
	cursor: pointer;
}
div{
	margin-bottom: 10px;
}
.submit{
	height: 30px;
	width: 20%;
	font-size: 24px;
}
.url{
	margin-top: 20%;

}
.margins{
	margin-bottom: 20px;
}
.textarea{
	text-align: center;


}
.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}
.widthdiv{
	max-width: 50%;
	text-align: center;

}
.marginsd{
	padding-bottom: 10px;
}